<div class="text-center">
    <h2>Post a new job or internship</h2>
</div>
<div class="container">
    <ul class="nav nav-pills">
        <li id="job" class="active"><a data-toggle="pill">Job</a></li>
        <li id="intern"><a data-toggle="pill" href="">Internship</a></li>
    </ul>
    <div id="job-det">
        <h5>Job details</h5>
        <div class="form-group">
            <label id="lab" for="usr">Job Title:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <label id="lab">Career Level:</label>
        <div class="radio">
            <input type="radio" name="optradio" id="rd1" checked>
            <label id="lb" for="rd4">Experienced</label>
        </div>
        <div class="radio">
            <input id="rd2" type="radio" name="optradio">
            <label id="lb" for="rd5">Senior Management</label>
        </div>
        <div class="radio ">
            <input id="rd3" type="radio" name="optradio">
            <label id="lb" for="rd6">Junior Level/Fresh Grad</label>
        </div>
        <div class="radio">
            <input id="rd2" type="radio" name="optradio">
            <label id="lb" for="rd7">Student</label>
        </div>
        <div class="radio ">
            <input id="rd3" type="radio" name="optradio">
            <label id="lb" for="rd8">Manager</label>
        </div>
        <label id="lab">Job Category:</label>
        <div class="checkbox">
            <input type="checkbox" id="ch1" value="">
            <label id="lb" for="ch1">Full time</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="ch2"value="">
            <label id="lb" for="ch2">Part time</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="ch3" value="">
            <label id="lb" for="ch3">Freelance/Project</label>
        </div>
        <label id="lab">Workplace:</label>
        <div class="radio">
            <input type="radio" name="optradio" id="rd1" checked>
            <label id="lb" for="rd1">On-site</label>
        </div>
        <div class="radio">
            <input id="rd2" type="radio" name="optradio">
            <label id="lb" for="rd2">Remote</label>
        </div>
        <div class="radio ">
            <input id="rd3" type="radio" name="optradio">
            <label id="lb" for="rd3">Hybrid</label>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h5>About Job</h5>
    <form>
        <div class="mb-3">
            <label for="feedbackTextarea" class="form-label">Job description</label>
            <textarea class="form-control" id="feedbackTextarea" rows="5" placeholder="Write your Description here..."></textarea>
        </div>
    </form>
</div>