<div class="job-card">
    <div class="job-header">
        <div class="company-logo">
            TC
        </div>
        <div class="job-title-section">
            <h2 class="job-title">Senior Frontend Developer</h2>
            <h3 class="company-name">MIU</h3>
            <div class="location">
                📍 El-Obour City 
            </div>
        </div>
    </div>
    <div class="job-details">
        <!-- <span class="detail-item">💰 8000 EGP - 30000 EGP</span> -->
        <span class="detail-item tag">⏰ Full-time</span>
        <span class="detail-item tag">On-Site</span>
    </div>
    <div class="job-description">
        We're seeking a Senior Frontend Developer to join our dynamic team. You'll be responsible for building scalable web applications, mentoring junior developers, and contributing to our technical architecture.
    </div>
    <div class="apply-section">
        <button class="apply-btn"  type="button" data-bs-toggle="modal" data-bs-target="#myModal">Check More</button>
        
    </div>
</div>
