<a routerLink="/">
    <img src="wazafny-branding/png/logo-no-background-inverted.png" alt="Company logo">
</a>

@switch (userType) {
    @case ('User'){
        <a routerLink="/user/dashboard" class="choices">Dashboard</a>
        <a routerLink="/user/find-a-job" class="choices">Find a Job</a>
        <a routerLink="/user/applications" class="choices">My Applications</a>
    }
    @case ('Company') {
        <a routerLink="/company/dashboard" class="choices">Dashboard</a>
        <a routerLink="/company/post" class="choices">Add Post</a>
        <a routerLink="/company/post/posts" class="choices">View Posts</a>
    }
    @case ('Admin') {}
    @default{
        <a routerLink="/" class="choices">Home</a>
        <a routerLink="/find-a-job" class="choices">Find a Job</a>
        <a [routerLink]="null" class="choices" (click)="scrollToAboutUs()">About us</a>
    }
}

@if (userType===undefined) {
    <div>
        <a routerLink="/login" id="login">Login</a>
        <a routerLink="/signup" id="signup">Sign Up</a>  
    </div>
}