:host{
    display: grid;
}
.foot{
    display: grid;
    grid-template-columns: 30% 25% 30%;
    justify-content: center;
}
.section{
    margin: 10% 30%;
}
.head{
    margin-bottom:5%;
    font-weight: bolder;
    color:#2F4156;
    font-size: 130%;
}
.details{
    color:#567C8D;
    max-width: 65%;
    font-size: 105%;
}
#links{
    display: grid;
    grid-template-rows: auto;
}
.link{
    margin:2% 0;
    text-decoration: none;
    color:#2F4156;
    max-width: fit-content;
}
.link:hover{
    color:#567C8D;
}
#icons{
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns: 20% 30%;
    font-size: 150%;
}
#hl{
    border: none;
    border-top: 1px solid #C8D9E6;
    margin: 1% 0;
    width: 70%;
    justify-self: center;
    border-radius: 25%;
}
.copy{
    margin:0;
    color:#2F4156;
    justify-self: center;
    align-self: center;
}