<div class="foot"><div class="sections">
    <div class="head">About Wazafny.com</div>
    <div class="details">
        Wazafny.com is a new job site for jobs inside Egypt, connecting job seekers with employers looking to hire. Every day, thousands of new job vacancies are listed on one of the best Job-seeking websites.        </div>
</div>
<div class="sections">
    <div class="head">Links</div>
    <div class="details" id="links">
        <a routerLink="/contactus" class="link">Contact Us</a>
        <a routerLink="/find-a-job" class="link">Find a Job</a>
        <a href="https://forms.gle/oJDYmrpUApzFFDkJA" class="link">Advertise with Us</a>    
    </div>
</div>
<div class="sections">
    <div class="head">Follow Us</div>
    <div class="details" id="icons">
        <a href="" class="link"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="" class="link"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="" class="link"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="link"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</div>
</div>
<hr id="hl">
<div class="copy">

<p>&copy; 2024 Wazafny. All Rights Reserved.</p>
</div>