:host{
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 148.5%;
    z-index: 1000;
}

div{
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.592);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.card{
    display: inline-block;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-top: 15%;
    padding: 2% 10%;
    background-color: rgb(87, 12, 12);
    color: #f5efeb;
    font-family: inherit;
    z-index: 1100;
}

.card h1{
    font-size: 6em;
}

.card p{
    font-size: 1.5em;
}

.card i{
    display: block;
    position: relative;
    right:-85%;
    cursor: pointer;
    --fa-primary-color: #ffffff; 
    --fa-secondary-color: #ffffff;
}