:host{
    display: grid;
    grid-template-columns: 60% 40%;
}

h1{
    font-size: 4em;
    margin: 0px;
}
h2{
    font-size: 1.5em;
    margin-left: 15%;
}
h3{
    margin: 0px;
    padding: 0px;
}
.counters{
    display: grid;
    grid-template-columns: 50% 50%;
}

ul{
    list-style:none;
}

li{
    margin-left: 5%;
    margin-top: 5%;
    padding: 0.2% 0%;
}
img{
    position: relative;
    right: -30%;
    width: 70%;
    border: 5px double #2f4156aa;
    border-radius: 6px;
    overflow: hidden;
}