<div>
    <h1>
        {{user.name}}
    </h1>
    <h2>
       {{user.professionalTitle}} 
    </h2>
    <h3>
        Total Applications:
    </h3>
    <div class="counters">
        <ul> 
            <li>
                Applied for: {{submitted}}
            </li>
            <li>
                In review:  {{inReview}}
            </li>
        </ul>
        <ul>
            <li>
                Accepted: {{accepted}}
            </li>
            <li>
                Rejected: {{rejected}}
            </li>
        </ul>
    </div>
</div>
<img [src]="profilePicPath" alt="your profile pic">