:host{
  background-color: #FFFFFF;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: grid;
}
#text{
  justify-content: center;
  align-items: center;
}
.dropdown {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
  }
  .down{
    transition: transform 0.2s ease-in-out;
  }
  .rotate {
    transform: rotate(180deg);
  } 
   .list{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .displayit{
    display: none;
  }
  .label{
    margin: 5% 0;
  }
