<h2 id="text">Filters</h2>

@for (item of filterGroups; track $index) {
  <button class="dropdown" (click)="toggleDisplay(item.name)" id="{{item.name}}Options">
    {{item.name}}
    <span class="down" [class.rotate]="!isDisplayed[item.id]">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path d="M6 9l6 6 6-6"/>
      </svg>
    </span>
  </button>

  <div class="list" [class.displayit]="isDisplayed[item.id]">
    @for (option of item.options; track $index) {
        <label class="label">
          <input type="checkbox" value="{{option}}" [checked]="isFilterSelected(item.name, option)" (change)="toggleFilter(item.name, option)">  {{ option }}
        </label>
    }
  </div>
}