<p id="text">Filters</p>
<button class="dropdown" (click)="rotate(); displayit();">WorkPlace <i class="fa-solid fa-caret-down down rotate" [class.rotate]="isRotated"></i></button>
<div class="displayit list" [class.displayit]="isDisplayed">
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
</div>
<button class="dropdown" (click)="rotate(); displayit();">WorkPlace <i class="fa-solid fa-caret-down down rotate" [class.rotate]="isRotated"></i></button>
<div class="displayit list" [class.displayit]="isDisplayed">
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
</div>
<button class="dropdown" (click)="rotate(); displayit();">WorkPlace <i class="fa-solid fa-caret-down down rotate" [class.rotate]="isRotated"></i></button>
<div class="displayit list" [class.displayit]="isDisplayed">
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
    <label for="check-1" class="label"><input type="checkbox" name="" id="check-1">Remote</label>
</div>