<div class="job-card">
    <div class="job-header">
        <div class="company-logo">
            TC
        </div>
        <div class="job-title-section">
            <h2 class="job-title">{{post.jobTitle}}</h2>
            <h3 class="company-name">{{post.companyName}}</h3>
            <div class="location">
                📍 {{post.location}} 
            </div>
        </div>
    </div>
    <div class="job-details">
        <span class="detail-item tag">⏰ {{post.jobCategory}}</span>
        <span class="detail-item tag">{{post.workplace}}</span>
        <span class="detail-item tag">{{post.careerLevel}}</span>
    </div>
    <div class="job-description">{{post.jobDescription}}</div>
    <div class="tags-container">
        @for (item of post.tags; track $index) {
        <span class="tag">{{item}}</span>
        }
    </div>
    <div class="apply-section">
        <div></div>
        @if (userType===undefined) {
            <button class="apply-btn" (click)="login()">Login to Apply</button>
        }@else if (!isAppliedBefore()) {
            <button class="apply-btn" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + post.id">Apply Now</button>
        }@else {
            <button class="applied-btn" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + post.id" disabled>Already Applied</button>
        }
        
    </div>
</div>
<div class="bootstrap-scope">
    <form (ngSubmit)="submitCV()">
    <div class="modal fade" [id]="'modal-' + post.id" tabindex="-1" [attr.aria-labelledby]="'modalLabel-' + post.id" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" [id]="'modalLabel-' + post.id">Submit your Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Job Requirements:</h5>
                    <p class="xyz">{{post.jobRequirements}}</p>
                    <label for="cv">Attach your CV</label><br>
                    <input type="file" name="submittedCV" id="cv" required (change)="selectCV($event)">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary hhh" data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<!-- Bootstrap JS (end of body) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>