<div class="job-card">
    <div class="job-header">
        <div class="company-logo">
            TC
        </div>
        <div class="job-title-section">
            <h2 class="job-title">{{post.jobTitle}}</h2>
            <h3 class="company-name">{{post.companyName}}</h3>
            <div class="location">
                📍 {{post.location}} 
            </div>
        </div>
    </div>
    <div class="job-details">
        <!-- <span class="detail-item">💰 8000 EGP - 30000 EGP</span> -->
        <span class="detail-item tag">⏰ {{post.jobCategory}}</span>
        <span class="detail-item tag">{{post.workplace}}</span>
        <span class="detail-item tag">{{post.careerLevel}}</span>
    </div>
    <div class="job-description">{{post.jobDescription}}</div>
    <!-- <div class="tags-container">
        <span class="tag">React</span>
        <span class="tag">TypeScript</span>
        <span class="tag">Node.js</span>
        <span class="tag">Angular</span>
        <span class="tag">HTML</span>
    </div> -->
    <div class="apply-section">
        <div></div>
        @if (userType===undefined) {
            <button class="apply-btn" (click)="login()">Login to Apply</button>
        }@else{
            <button class="apply-btn"  type="button" data-bs-toggle="modal" data-bs-target="#myModal">Apply Now</button>
        }
        
    </div>
</div>
<div class="bootstrap-scope">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Sumbit your Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Job Requirements:</h5>
                    <p class="xyz">{{post.jobRequirements}}</p>
                    <label for="cv">Attach your CV</label><br><input type="file" name="cv" id="cv" required>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary hhh" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS (end of body) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>