:host{
    display: block;
    background-color: #2f4156;
    color: #f5efeb;
    height: 88%;
    width: 96%;
    padding: 2%;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #565c62;
    overflow-x: hidden;
}