:host{
    overflow: hidden;
    display: inline-block;
    padding: 3%;
    width: fit-content;
    height: fit-content;
    margin-right: 7%;
    overflow: hidden;
    background-color: #f5efeb;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}