<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<div class="container mt-5">
  <h2>Job Posts</h2>
  <div  *ngIf="jobPosts.length === 0">
    <h1 class="text-center">No Posts Available...!</h1>
  </div>
  <div *ngFor="let post of jobPosts" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post.jobTitle }}</h5>
      <p><strong>Career Level:</strong> {{ post.careerLevel }}</p>
      <p><strong>Workplace:</strong> {{ post.workplace }}</p>
      <p><strong>Description:</strong> {{ post.jobDescription }}</p>
      <button (click)="confirmDelete(post.id)" class="btn btn-danger">Delete</button>
      <button (click)="edit(post.id)" class="btn btn-primary">Edit</button>
      <button (click)="viewApplications(post.id)" class="btn btn-secondary">View Applications</button>
    </div>
  </div>
  
  <!-- Applications Popup -->
  <div *ngIf="showApplicationsPopup" class="overlay">
    <div class="popup">
      <h3>Applications for Post: {{ selectedPost }}</h3>
      <div *ngFor="let application of selectedPostApplications">
        <p><strong>Applicant Email:</strong> {{ application.companyEmail }}</p>
        <p><strong>Job Title:</strong> {{ application.jobTitle }}</p>
        <p><strong>State:</strong> {{ application.state }}</p>
        <button 
          (click)="updateApplicationState(application, 'Accepted')" 
          class="btn btn-success"
          [disabled]="application.state === 'Accepted'">
          Accept
        </button>
        <button 
          (click)="updateApplicationState(application, 'Rejected')" 
          class="btn btn-danger"
          [disabled]="application.state === 'Rejected'">
          Reject
        </button>
        <button (click)="viewApplicantCV(application)" class="btn btn-info">View CV</button>
      </div>
      <button (click)="closeApplicationsPopup()" class="btn btn-secondary">Close</button>
    </div>
  </div>
  