.container{   
    background-color: #c8d9e6;
    padding: 3%;
    border-radius: 2%;
    box-shadow:0px 0px 5px black ;
    max-width:47% ;
}
.text-danger{
    margin-left: 33%;
  }
.text-center{
    padding-bottom:3% ;
}
.form-control{
    width: 40%;
}
.fc{
    width: 70%;
}
#usr{ margin-left: 26.6%;
}
h5{
    padding: 1%;
}
#lb{
    margin-left: 0.5rem;
}
h2{
    margin-top: 4%;
    
}
#ft{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 48% auto;
    gap:3%;
    margin-bottom: 5%;
    font-weight: bolder;
    margin-left: 4%;
}
#ust{
    margin-left: 10%;
}
#lab{
    display: grid;
    align-items: center;
    font-weight: bold;
    margin-top: 6%;
    grid-template-columns: 33% auto;
    gap:4%;
    margin-bottom: 2%;
}
.radio{
   display: flex;
  margin-left: 32%;
   align-items: center;
   width:43%;
}
.form-label{
    
    font-size: 20px;
}
h3{
    margin-bottom: 6%;
}
.btn-primary{
background-color: #2f4156;
color: #ffffff;
}
.btn-primary:hover{
transform: scale(1.15);
background-color: green;
transition: transform 0.5s ease;
}