.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ffffff;
    background-color: #567cbd;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
background-color: #F5EfEb;
color: #000000;
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a{
    text-decoration: none;
}
.container{   
    background-color: #c8d9e6;
    padding: 3%;
    border-radius: 2%;
    box-shadow:0px 0px 5px black ;
}
.text-center{
    padding-bottom:7% ;
}
.form-control{
    width: 40%;
}
h5{
    padding: 1%;
}
#lb{
    margin-left: 0.5rem;
}
#lab{
    font-weight: bold;
}
h2{
    margin-top: 4%;
}