<div class="text-center">
    <h1>{{ route.snapshot.paramMap.get('postId') ? 'Edit Job Post' : 'Post a New Job' }}</h1>
</div>
<form [formGroup]="postForm" (ngSubmit)="submitForm()">
    <div class="container">

        <div id="job-det">
            <h1 id="ft">Job details</h1>
            <div class="form-group">
                <label id="lab" for="usr">
                    <h4 id="ust">Job Title:</h4>
                </label>
                <input formControlName="jobTitle" type="text" class="form-control" id="usr">
                <div *ngIf="postForm.get('jobTitle')?.invalid && postForm.get('jobTitle')?.touched">
                    <small class="text-danger">Job Title is required.</small>
                </div>
            </div>
            <label id="lab">
                <h4>Career Level:</h4>
            </label>
            <div class="radio">
                <input formControlName="careerLevel" id="rd2" type="radio" name="careerLevel" value="Internship">
                <label id="lb" for="rd2">Internship</label>
            </div>
            <div class="radio ">
                <input formControlName="careerLevel" id="rd3" type="radio" name="careerLevel"
                    value="Junior Level/Fresh Grad">
                <label id="lb" for="rd3">Junior Level/Fresh Grad</label>
            </div>
            <div class="radio">
                <input formControlName="careerLevel" type="radio" name="careerLevel" id="rd1" value="Experienced">
                <label id="lb" for="rd1">Experienced</label>
            </div>
            <div class="radio ">
                <input formControlName="careerLevel" id="rd4" type="radio" name="careerLevel" value="Manager">
                <label id="lb" for="rd4">Manager</label>
            </div>
            <div class="radio">
                <input formControlName="careerLevel" id="rd5" type="radio" name="careerLevel" value="Senior">
                <label id="lb" for="rd5">Senior</label>
            </div>
            <div *ngIf="postForm.get('careerLevel')?.invalid && postForm.get('careerLevel')?.touched">
                <small class="text-danger">Career Level is required.</small>
            </div>
            <label id="lab">
                <h4>Job Category:</h4>
            </label>
            <div class="radio">
                <input formControlName="jobCategory" type="radio" name="jobCategory" id="rd6" value="Full-Time">
                <label id="lb" for="rd6">Full-Time</label>
            </div>
            <div class="radio">
                <input formControlName="jobCategory" id="rd7" type="radio" name="jobCategory" value="Part-Time">
                <label id="lb" for="rd7">Part-Time</label>
            </div>
            <div class="radio ">
                <input formControlName="jobCategory" id="rd8" type="radio" name="jobCategory" value="Freelance/Project">
                <label id="lb" for="rd8">Freelance/Project</label>
            </div>
            <div *ngIf="postForm.get('jobCategory')?.invalid && postForm.get('jobCategory')?.touched">
                <small class="text-danger">Job Category is required.</small>
            </div>
            <label id="lab">
                <h4>Workplace:</h4>
            </label>
            <div class="radio">
                <input formControlName="workplace" type="radio" name="workplace" id="rd9" value="On-site">
                <label id="lb" for="rd9">On-site</label>
            </div>
            <div class="radio">
                <input formControlName="workplace" id="rd10" type="radio" name="workplace" value="Remote">
                <label id="lb" for="rd10">Remote</label>
            </div>
            <div class="radio ">
                <input formControlName="workplace" id="rd11" type="radio" name="workplace" value="Hybrid">
                <label id="lb" for="rd11">Hybrid</label>
            </div>
            <div *ngIf="postForm.get('workplace')?.invalid && postForm.get('workplace')?.touched">
                <small class="text-danger">Workplace is required.</small>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h3>About Job</h3>
        <div class="mb-3">
            <label for="feedbackTextarea" class="form-label">Job Requirements</label>
            <textarea formControlName="jobRequirements" class="form-control fc" id="feedbackTextarea" rows="5"
                placeholder="Write your Description here..."></textarea>
            <div *ngIf="postForm.get('jobRequirements')?.invalid && postForm.get('jobRequirements')?.touched">
                <small class="text-danger">Job Requirements is required.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="feedbackTextarea" class="form-label">Job description</label>
            <textarea formControlName="jobDescription" class="form-control fc" id="feedbackTextarea" rows="5"
                placeholder="Write your Description here..."></textarea>
            <div *ngIf="postForm.get('jobDescription')?.invalid && postForm.get('jobDescription')?.touched">
                <small class="text-danger">Job description is required.</small>
            </div>
        </div>
        <div>
            <div class="d-flex align-items-center gap-3">
                <label id="lab" class="mb-0"> 
                    <h4 id="ta" class="mb-0">Tags:</h4> 
                </label> 
                <button type="button" class="btn btn-primary" id="add" (click)="Show()">Add Tag</button>
            </div>
            <ul class="ul">
                <li *ngFor="let tag of tags.controls; let i = index">
                    {{ tag.value }}
                    <a type="button" id="rem" (click)="removeTag(i)">remove</a>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary"> {{ route.snapshot.paramMap.get('postId') ? 'Update Post' :
            'Submit' }}</button>
    </div>
    <!-- Confirmation Popup -->
    <div *ngIf="showAddTag" class="overlay">
        <div class="popup">
            <h3>Adding a Tag </h3>
            <div class="popup-actions">
                <input #tagInput type="text" id="pl" class="form-control" placeholder="Add a tag" />
            </div>
            <button type="button" class="add btn-primary" id="add" (click)="addTag(tagInput.value); tagInput.value = ''">Add Tag</button>
        </div>
    </div>
</form>