.adminMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px; 
}

.title {
    text-align: center;
    color: #000000;
    font-weight: 850;
    font-size: 40px;
    margin-top: -50px; /* Adjust as needed */ 
}