<div class="signup-container">
    <div class="logo-section">
        <h1>Sign Up</h1>
        <p>Create your professional profile</p>
    </div>
    
    <form (ngSubmit)="signup()">
        <div class="form-row">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="FName" placeholder="Enter first name" [(ngModel)]="signupInfo.FName" required>
            </div>
            
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="LName" placeholder="Enter last name" [(ngModel)]="signupInfo.LName" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="Email" placeholder="Enter your email" [(ngModel)]="signupInfo.Email" required>
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" placeholder="Create a password" [(ngModel)]="signupInfo.Password" required>
            <div class="password-requirements">
                Must be at least 8 characters long with 1 uppercase, 1 number
            </div>
        </div>

        <div class="form-group">
            <label for="profession">Professional Title</label>
            <input type="text" id="profession" name="PTitle" [(ngModel)]="signupInfo.PTitle" placeholder="e.g. Software Engineer, Marketing Manager">
        </div>
        
        <button type="submit" class="signup-btn">Create Account</button>
    </form>
    
    <div class="login-link">
        Already have an account? <a routerLink="/login">Log in</a>
    </div>
</div>