<div class="section-0">
    <h1 id="text-bold">Find the Best Jobs in Egypt</h1>
    <h2>Searching for Job opportunities? Wazafny will help you to find your best fit Job in Egypt.</h2>
    <div id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="job-search" id="job-input" placeholder="Search for a Job opportunity">
        <button class="search-button">Search Jobs</button>
    </div>
</div>
<section class="section-1">
    <div id="text-get-started">
        <h1 id="gs-head">Unlock Your Future: Join Our Job-Seeking Community Today!</h1>
        <p>Are you ready to take the next step in your career? At Wazafny.com, we’re dedicated to connecting talented individuals like you with amazing job opportunities. 
          <br><br>Don’t miss out on your dream job! Sign up now and start your journey towards a fulfilling career with just a few clicks. Your future awaits!
        </p>
        <button class="search-button" id="get-started">Get Started Now</button>
    </div>
    <img src="/explore-jobs.jpg" alt="contract picture" id="contract">
</section>
<section class="section-2">
<h1 id="gs-head">Browse Jobs by Carrer Level</h1>
<div class="carrer-levels">
    <a href="" class="carrer"><div class="image-container"><img src="/senior-manager.jpg" alt="" id="pic"></div><p id="t">Management Jobs</p></a>
    <a href="" class="carrer"><div class="image-container"><img src="/expertised-level.jpg" alt="" id="pic"></div><p id="t">Expertised Jobs</p></a>
    <a href="" class="carrer"><div class="image-container"><img src="/entry-level.jpg" alt="" id="pic"></div><p id="t">Entery Level Jobs</p></a>
    <a href="" class="carrer"><div class="image-container"id="seemore"><img src="/internship.jpg" alt="" id="pic"></div><p class="see-more">See More</p></a>

</div>
</section>
<section class="section-3">
    <h1 id="gs-head">Browse Jobs by Category</h1>
    <div class="carrer-levels">
        <a href="" class="carrer"><div class="image-container"><img src="/sales-job.jpg" alt="" id="pic"></div><p id="t">Sales Jobs</p></a>
        <a href="" class="carrer"><div class="image-container"><img src="/IT jobs.jpg" alt="" id="pic"></div><p id="t">IT / Software Development Jobs</p></a>
        <a href="" class="carrer"><div class="image-container"><img src="/art-jobs.jpg" alt="" id="pic"></div><p id="t">Creative / Art Jobs</p></a>
        <a href="" class="carrer"><div class="image-container"id="seemore"><img src="/workfromhome.jpg" alt="" id="pic"></div><p  class="see-more">See More</p></a>
    
    </div>
</section>
<section class="section-2">
    <h1 id="gs-head">Browse Jobs by Location</h1>
    <div class="carrer-levels">
        <a href="" class="carrer"><div class="image-container"><img src="/cairo.jpg" alt="" id="pic"></div><p id="t">Cairo</p></a>
        <a href="" class="carrer"><div class="image-container"><img src="/alex.jpg" alt="" id="pic"></div><p id="t">Alexandria</p></a>
        <a href="" class="carrer"><div class="image-container"><img src="/giza.jpg" alt="" id="pic"></div><p id="t">Giza</p></a>
        <a href="" class="carrer" ><div class="image-container"id="seemore"><img src="/aswan.jpg" alt="" id="pic"></div><p class="see-more">See More</p></a>
    </div>
</section>