.section-0{
    background-image: url('/find-job.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}