
<div class="section-0">
    <h1 id="text-bo">Find the Best Jobs in Egypt</h1>
    <h3>Searching for Job opportunities? Wazafny will help you to find your best fit Job in Egypt.</h3>
    <div id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="job-search" id="job-input" [(ngModel)]="searchTerm" placeholder="Search for a Job opportunity">
        <button class="search-button" (click)="onSearchClick()">Search Jobs</button>
    </div>
</div>
@if (userType()===undefined) {
<section class="section-1">
    <div id="text-get-started">
        <h1 id="gs-head">Unlock Your Future: Join Our Job-Seeking Community Today!</h1>
        <p>Are you ready to take the next step in your career? At Wazafny.com, we’re dedicated to connecting talented individuals like you with amazing job opportunities. 
          <br><br>Don’t miss out on your dream job! Sign up now and start your journey towards a fulfilling career with just a few clicks. Your future awaits!
        </p>
        <button class="search-button" id="get-started" (click)="signup()">Get Started Now</button>
    </div>
    <img src="/explore-jobs.jpg" alt="contract picture" id="contract">
</section>
}
<section class="section-2">
<h1 id="gs-head">Browse Jobs by Carrer Level</h1>
<div class="carrer-levels">
    <a *ngFor="let category of categories1" [routerLink]="['/find-a-job']" [queryParams]="{ categoryID: category.id, categoryName:category.name , triggerCategory: 'true' }" class="carrer"><div class="image-container"><img src="/{{ category.name }}.jpg" alt="" id="pic"></div><p id="t"> {{ category.name }}</p></a>
    <a routerLink="/find-a-job" class="carrer"><div class="image-container"id="seemore"><img src="/internship.jpg" alt="" id="pic"></div><p class="see-more">See More</p></a>

</div>
</section>
<section class="section-3">
    <h1 id="gs-head">Browse Jobs by Work Place</h1>
    <div class="carrer-levels">
        <a *ngFor="let category of categories2" [routerLink]="['/find-a-job']" [queryParams]="{ categoryID: category.id, categoryName:category.name , triggerCategory: 'true' }" class="carrer"><div class="image-container"><img src="/{{ category.name }}.jpg" alt="" id="pic"></div><p id="t"> {{ category.name }}</p></a>
        <a routerLink="/find-a-job" class="carrer"><div class="image-container"id="seemore"><img src="/workfromhome.jpg" alt="" id="pic"></div><p  class="see-more">See More</p></a>
    
    </div>
</section>
<section class="section-2">
    <h1 id="gs-head">Browse Jobs by Location</h1>
    <div class="carrer-levels">
        <a *ngFor="let category of categories3" [routerLink]="['/find-a-job']" [queryParams]="{ categoryID: category.id, categoryName:category.name , triggerCategory: 'true' }" class="carrer"><div class="image-container"><img src="/{{ category.name }}.jpg" alt="" id="pic"></div><p id="t"> {{ category.name }}</p></a>
        <a routerLink="/find-a-job" class="carrer" ><div class="image-container"id="seemore"><img src="/aswan.jpg" alt="" id="pic"></div><p class="see-more">See More</p></a>
    </div>
</section>