*{
    color: #2f4156;
}
.container{
    display: inline-block;
    background-color: #f5efeb;
    margin-top: 3%;
    padding: 1% 5%;
}
h1{
    margin: 0px;
    font-size: 4em;
    padding: 2px 0px;
}
img{
    width: 10%;
    height: 5%;
}
input{
    width: 100%;
    font-size: 1.5em;
    padding: 0.8rem;
    border: 3px solid #2f4156;
    border-radius: 5px;
    box-sizing: border-box;
}
span{
    display: inline-block;
    position: relative;
    width: 60%;
    right: -45%;
}
button{
    font-size: 1.5em;
    border: 2px solid #292929;
    margin-right: 4px;
    &:hover{
        background-color: #292929c2;
        color: #f5efeb;
    }
}
.required{
    border-color: red;
}
.confirmed{
    border-color: green;
}
.submit{
    background-color: #2f4156;
    color: #f5efeb;
    &:hover{
        background-color: #2f415613;
        color: #2f4156;
    }
}
.cancel:hover{
    background-color: #562f2fd7;
    color: #f5efeb;
}
.classicButton{
    display: inline-block;
    width: 10.5%;
    padding: 0px;
    font-size: 1em;
}
.input-group{
    display: inline-block;
    text-align: left;
    margin-bottom: 5%;
    padding: 0px 10px;
}
.password-requirements {
    font-size: 1rem;
    color: #567C8D;
    margin-top: 0.5rem;
}