<div [class]="{'accepted': application.state==='Accepted','rejected': application.state==='Rejected','status':true}">
    {{application.state}}
</div>
<div class="application">
    <div>
        <img [src]="companylogoPath" [alt]="companylogoAltText">
    </div>
    <div>
        <h1>
            {{application.companyname}}
        </h1>
        <h2>
            {{application.jobTitle}}
        </h2>
    </div>
        @if (application.state==='Submitted') {
            <div>
                <button type="button" (click)='withdrawApp(application.post)' appButton>
                    Withdraw
                </button>
            </div>
        }
</div>