<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<body>
    <div *ngFor="let company of companies" class="company-card">
        <div class="company-header">
            <h3>{{ company.name }}</h3>
        </div>
        <div class="compImage">
            <img style="width: 361px;  border-radius: 3%;" src="\ales-nesetril-Im7lZjxeLhg-unsplash.jpg">
        </div>
        <div class="company-details">
            <p><strong>Industry:</strong> {{ company.industry }}</p>
            <p><strong>Location:</strong> {{ company.location }}</p>
            <p><strong>Description:</strong> {{ company.description }}</p>
            <p *ngFor="let job of company.jobs"><strong>Requirements:</strong> {{job.jobRequirements}}</p>
        </div>
    </div>

    <div class="container ">
        <a routerLink="/company/post/posts"><h1 class="fixed-link text-center">View Posts Details </h1></a>
        <div class="d-flex row positions ">

            <div *ngFor="let post of jobPosts" class=" card col-md-4 mb-3">

                <div class="card-body">
                    <h5 class="card-title">{{ post.jobTitle }}</h5>
                    <p class="card-text2"><strong>Career Level:</strong> {{ post.careerLevel }} <br><strong>Job
                            Category:</strong> {{ post.jobCategory }}<br><i
                            class="zmdi zmdi-pin mr-2"></i><strong>Workplace:</strong> {{ post.workplace }}
                    <p class="card-text" id="p1" style="display: none;"><strong>Description:</strong> {{
                        post.jobDescription }}</p>
                    <p class="card-text" id="p2" style="display: none;"><strong>Requirements:</strong> {{
                        post.jobRequirements }}</p>
                </div>

            </div>

        </div>
       
    </div>
    <div class="Actions">
        <h4 class="txt">Company Manager</h4>
        <div *ngFor="let company of companies" class="offcanvas offcanvas-start" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Profile</h1>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <p><strong>Industry:</strong> {{ company.industry }}</p>
                <p><strong>Location:</strong> {{ company.location }}</p>
                <p><strong>Description:</strong> {{ company.description }}</p>
                <button class="btn btn-secondary" type="button">Sign Out</button>
                <a href="#" class="position-relative">
                    <i class="fas fa-bell" style="font-size: 1.5rem;"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
                </a>
            </div>
        </div>
        <button  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <h2>Add post</h2>
        </button>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a style="cursor: pointer;" class="dropdown-item" (click)="show()">Add a Job</a></li>
                <li><a style="cursor: pointer;" class="dropdown-item" (click)="show()">View Jobs</a>
                </li>
            </ul>
        </div> -->
    </div>

</body>