<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<body>
    <div class="company-card" id="comp-card">
        <div class="company-header">
            <h3>{{ companies.User.name }}</h3>
        </div>
        <div class="compImage">
            <img style="width: 361px;  border-radius: 3%;" [src]="companylogoPath" alt="Company Logo" class="imagecomp">
        </div>
        <div class="company-details">
            <p><strong>Industry:</strong> {{ companies.User.industry }}</p>
            <p><strong>Location:</strong> {{ companies.User.location }}</p>
            <p><strong>Description:</strong> {{ companies.User.description }}</p>
        </div>
    </div>

    <div class="container">
        <div *ngIf="hasNoPostsForCurrentCompany">
            <h1>No Posts Available....!</h1>
        </div>
        <div *ngIf="!hasNoPostsForCurrentCompany">
            <a routerLink="/company/post/posts">
                <h1 class="fixed-link text-center">View Posts Details </h1>
            </a>
            <div class="d-flex row positions ">

                <div *ngFor="let post of jobPosts" class=" card col-md-4 mb-3">

                    <div class="card-body">
                        <h5 class="card-title">{{ post.jobTitle }}</h5>
                        <p class="card-text2"><strong>Career Level:</strong> {{ post.careerLevel }} <br><strong>Job
                                Category:</strong> {{ post.jobCategory }}<br><i
                                class="zmdi zmdi-pin mr-2"></i><strong>Workplace:</strong> {{ post.workplace }}
                        <p class="card-text" id="p1" style="display: none;"><strong>Description:</strong> {{
                            post.jobDescription }}</p>
                        <p class="card-text" id="p2" style="display: none;"><strong>Requirements:</strong> {{
                            post.jobRequirements }}</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="Actions">
        <h3 class="txt">Company Manager</h3>

        <button (click)="show()" class="btn btn-primary" type="button">
            <h2>Add post</h2>
        </button>
    </div>
    <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a style="cursor: pointer;" class="dropdown-item" (click)="show()">Add a Job</a></li>
                <li><a style="cursor: pointer;" class="dropdown-item" (click)="show()">View Jobs</a>
                </li>
            </ul>
        </div> -->


</body>